body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  flex-direction: column;
  background-color: red !important;
}

.navbar {
  background-color: white; 
  position: fixed !important;
  display: flex !important;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}

.navbar .navbar-brand img {
  height: 40px;
}

.container {
  background-color: white; 
  border-radius: 15px; 
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; 
  margin-top: 80px; 
}

h3 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #e60012; /* Santander red */
  text-align: center;
  margin-bottom: 20px;
}


.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.btn-primary {
  background-color: #e60012;
  border-color: #e60012;
  color: white;
  width: 100%; 
}

.btn-primary:hover {
  background-color: #d50011;
  border-color: #d50011;
}
